body {
  margin: 0 0 0 0;
}

#container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto 100% 80% 100% 75% 55% 10%;
}

/* Design things----------------------------------------------------------------------------------*/

.dash {
  color: #b1b1eb;
}

p {
  font-family: 'Bitter', serif;
  font-size: 17px;
}

a {
  font-family: 'Bitter', serif;
  font-size: 17px;
  text-decoration: none;
}

a:hover {
  color: #b1b1eb;
}

/*Landing page------------------------------------------------------------------------------------*/

#main {
  grid-column: 1 / span 4;
  grid-row: 2;
  background-image: url("/img/bowen.jpg");
  background-size: cover;
  background-position: 10% 90%;
  /* transform: scaleX(-1); */
  z-index: -1;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#maintext {
  grid-column: 1 / span 2;
  grid-row: 2;
  font-family: 'Varela', sans-serif;
  align-self: center;
  justify-self: start;
  font-size: 30px;
  margin-left: 15%;
}

#name {
  font-size: 70px;
  font-weight: 1000;
}

/* navbar ---------------------------------------------------------------------------------------*/
#navbar {
  overflow: hidden;
  background-color: white;
  grid-row: 1;
  grid-column: 1 / span 4;
  -moz-box-shadow: 3px 3px 5px 6px #b1b1eb;
  -webkit-box-shadow: 3px 3px 3px 3px #b1b1eb;
  box-shadow: 1px 2px 15px 5px #b1b1eb;
  position: fixed;
  top: 0px;
  width: 100%;
}

#navbar h2 {
  float: left;
  padding-left: 3%;
  margin-top: 13px;
  padding-bottom: 1px;
  margin-bottom: 12px;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #5f6a8a;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-right: 3%;
  margin-top: 20px;
  font-family: 'Bitter', serif;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.subTitle {
  justify-self: center;
  align-self: center;
  font-family: 'Varela', sans-serif;
  font-size: 35px;
}

#hamburgerNav {
  display: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

.show {
  display: block;
}

/* about me ---------------------------------------------------------------------------------------*/

#aboutMe {
  grid-column: 1 / span 4;
  grid-row: 3;
  display: grid;
  width: 100%;
  height: 92%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 90%;
}

#aboutMeTitle {
  grid-column: 1 / span 4;
  grid-row: 1;
  padding-top: 90px;
}

#aboutMePic {
  height: 95%;
  width: auto;
  grid-column: 1 / span 2;
  grid-row: 2;
  align-self: center top;
  padding-left: 23%;
  margin-top: 6%;
}

#aboutMeDesc {
  grid-column: 2 / span 3;
  grid-row: 2;
  align-self: center top;
  justify-self: center;
  padding-left: 290px;
  padding-right: 12%;
}

#aboutMeText {
  padding-top: 10%;
}

.buttonStyle {
  background-color: #b1b1eb;
  border: 4px solid #b1b1eb;
  padding: 12px 24px;
  border-radius: 16px;
  font-family: 'Bitter', serif;
  font-size: 17px;
  font-weight: 800;
  transition-duration: 0.4s;
  color: white;
  cursor: pointer;
}

.buttonStyle:hover {
  border: 4px solid #b1b1eb;
  background-color: white;
  color: #b1b1eb;
}

#resumeButton {
  margin-top: 3%;
}



/* projects ---------------------------------------------------------------------------------------*/

#projects {
  grid-column: 1 / span 4;
  grid-row: 4;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 10% 40% 10% 15% 10%;
  padding-top: 60px;
}

.projectsSubTitle {
  justify-self: center;
  align-self: center;
  font-family: 'Varela', sans-serif;
  font-size: 28px;
}

.projectPic {
  height: 90%;
  width: auto;
  align-self: center end;
  justify-self: center;
}

#projectsTitle {
  grid-column: 2 / span 2;
  grid-row: 1;
}

#projectsDesc {
  justify-self: center;
  align-self: center end;
}

#dropTitle {
  grid-column: 1 / span 2;
  grid-row: 2;
}

#dropPic {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#dropDesc {
  grid-column: 1 / span 2;
  grid-row: 4;
  font-family: 'Bitter', serif;
  font-size: 17px;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 1%;
}

#dropDemo {
  grid-column: 1;
  grid-row: 5;
  margin-top: 15%;
  margin-right: 4%;
  align-self: center;
  justify-self: end;
}

#dropCode {
  grid-column: 2;
  grid-row: 5;
  margin-top: 15%;
  margin-left: 4%;
  align-self: center;
  justify-self: start;
}


#dropSkills {
  grid-column: 1 / span 2;
  grid-row: 6;
  font-family: 'Bitter', serif;
  font-size: 17px;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
}

#iAssistTitle {
  grid-column: 3 / span 2;
  grid-row: 2;
}

#iAssistPic {
  grid-column: 3 / span 2;
  grid-row: 3;
}

#iAssistDesc {
  grid-column: 3 / span 2;
  grid-row: 4;
  font-family: 'Bitter', serif;
  font-size: 17px;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 1%;
}

#iAssistDemo {
  grid-column: 3;
  grid-row: 5;
  margin-top: 15%;
  margin-right: 4%;
  align-self: center;
  justify-self: end;
}

#iAssistCode {
  grid-column: 4;
  grid-row: 5;
  margin-top: 15%;
  margin-left: 4%;
  align-self: center;
  justify-self: start;
}

#iAssistSkills {
  grid-column: 3 / span 2;
  grid-row: 6;
  font-family: 'Bitter', serif;
  font-size: 17px;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
}

/* my skills ---------------------------------------------------------------------------------------*/

#skills {
  grid-column: 1 / span 4;
  grid-row: 5;
  display: grid;
  width: 100%;
  height: 65vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 15% 50%;
  margin-top: 5%;
  padding-top: 70px;
}

#skillsTitle {
  grid-column: 1 / span 4;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  margin-bottom: 5%;
}

h3 {
  margin-top: 5%;
  font-family: 'Varela', sans-serif;
  font-size: 25px;
}

#languagesPic {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 70px;
}

#languagesTitle {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 100px;
  text-align: center;
}

#languagesList {
  grid-column: 1;
  grid-row: 3;
  align-self: start;
  justify-self: start;
  margin-left: 10%;
}

#webDevPic {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 70px;
  text-align: center;
}

#webDevTitle {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 100px;
  text-align: center;
}

#webDevList {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  justify-self: start;
  margin-left: 8%;
}

#databasePic {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 90px;
  text-align: center;
}

#databaseTitle {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 120px;
  text-align: center;
}

#databaseList {
  grid-column: 3;
  grid-row: 3;
  align-self: start;
  justify-self: start;
  margin-left: 17%;
}

#versionControlPic {
  grid-column: 4;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 45px;
  text-align: center;
}

#versionControlTitle {
  grid-column: 4;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 70px;
  text-align: center;
}

#versionControlList {
  grid-column: 4;
  grid-row: 3;
  align-self: start;
  justify-self: start;
}

li {
  font-family: 'Bitter', serif;
  font-size: 17px;
  margin-top: 10%;
}

ul li {
  background-image: url('img/chevron-right.svg');
  background-repeat: no-repeat;
  line-height: 30px;
  padding-left: 30px;
  list-style: none;
}

/* contact Me ---------------------------------------------------------------------------------------*/

#contactMe {
  grid-column: 1 / span 4;
  grid-row: 6;
  display: grid;
  width: 100%;
  height: 60vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 15% 30%;
}

#contactMeTitle {
  grid-column: 1 / span 4;
  grid-row: 1;
}

#getInTouchTitle {
  grid-column: 1 / span 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

#linksTitle {
  grid-column: 3 / span 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

#emailPic {
  grid-column: 1 / span 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  margin-right: 210px;
}

#emailP {
  grid-column: 1 / span 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  margin-left: 10px;
}

#linkedinPic {
  grid-column: 3 / span 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  margin-right: 115px;
}

#linkedinP {
  grid-column: 3 / span 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}

#githubPic {
  grid-column: 3 / span 2;
  grid-row: 3;
  align-self: end;
  justify-self: center;
  margin-right: 115px;
}

#githubP {
  grid-column: 3 / span 2;
  grid-row: 3;
  align-self: end;
  justify-self: center;
  margin-right: 15px;
}

/* Footer -------------------------------------------------------------------------------------*/

footer {
  grid-column: 1 / span 4;
  grid-row: 7;
  background-color: #b1b1eb;
}

#footerText {
  text-align: center;
  align-self: center;
  justify-self: center;
}

/* media query for big screens ---------------------------------------------------------------------*/

@media only screen and (min-width: 1281px) {


  #container {
    grid-template-rows: auto 100% 70% 70% 60% 50% 10%;
  }

  #aboutMe {
    height: 50vh;
  }

  #projects {
    height: 70vh;
  }

  #skills {
    height: 30vh;
    padding-top: 7%;
  }

  #contactMe {
    height: 40vh;
  }
}

/* media query medium screen -----------------------------------------------------------------*/

@media only screen and (max-width: 1100px) and (min-width: 951px) {

  #container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 100% 100% 110% 110% 55% 10%;
  }

  #aboutMePic {
    height: 75%;
    padding-left: 23%;
    padding-top: 4%;
  }


  #hamburgerNav {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 17px;
    margin-left: 95%;
  }

  #iAssistPic {
    height: 70%;
    width: auto;
  }

  #dropPic {
    height: 80%;
    width: auto;
  }


  #normNav {
    display: none;
  }

  #hamburgerNav {
    display: block;
  }

  #skills {
    grid-column: 1 / span 4;
    grid-row: 5;
    display: grid;
    width: 100%;
    height: 75vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% 40% 15% 25%;
    margin-top: 5%;
    padding-top: 70px;
    margin-bottom: 4%;
  }

  #skillsTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    margin-bottom: 5%;
  }

  #languagesPic {
    grid-column: 1 / span 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #languagesTitle {
    grid-column: 1 / span 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 100px;
  }

  #languagesList {
    grid-column: 1 / span 2;
    grid-row: 3;
    align-self: start;
    justify-self: center;
    margin-right: 200px;
  }

  #webDevPic {
    grid-column: 3 / span 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin-right: 140px;
    text-align: center;
  }

  #webDevTitle {
    grid-column: 3 / span 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  #webDevList {
    grid-column: 3 / span 2;
    grid-row: 3;
    align-self: start;
    justify-self: center;
  }

  #databasePic {
    grid-column: 1 / span 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    margin-right: 260px;
    text-align: center;
  }

  #databaseTitle {
    grid-column: 1 / span 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 140px;
  }

  #databaseList {
    grid-column: 1 / span 2;
    grid-row: 5;
    align-self: start;
    justify-self: center;
    margin-right: 200px;
  }

  #versionControlPic {
    grid-column: 3 / span 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    margin-right: 110px;
    text-align: center;
  }

  #versionControlTitle {
    grid-column: 3 / span 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 170px;
  }

  #versionControlList {
    grid-column: 3 / span 2;
    grid-row: 5;
    align-self: start;
    justify-self: center;
  }

  #dropDemo {
    margin-top: 37%;
  }

  #dropCode {
    margin-top: 37%;
  }

  #dropSkills {
    margin-top: 10%;
  }

  #iAssistDemo {
    margin-top: 37%;
  }

  #iAssistCode {
    margin-top: 37%;
  }

  #iAssistSkills {
    margin-top: 10%;
  }


}

/* media query for small screens --------------------------------------------------------------*/

@media only screen and (max-width: 950px) and (min-width: 641px) {

  #hamburgerNav {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 17px;
    margin-left: 90%;
  }

  #hamburgerNav {
    display: block;
  }

  #hamContainer {
    margin-top: 17px;
    margin-left: 90%;
    display: block;
    cursor: pointer;
  }

  #normNav {
    display: none;
  }

  p {
    font-size: 15px;
  }

  #container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 100% 130% 180% 140% 70% 10%;
  }

  #maintext {
    font-size: 25px;
  }

  #name {
    font-size: 65px;
  }

  #aboutMe {
    grid-column: 1 / span 4;
    grid-row: 3;
    display: grid;
    width: 100%;
    height: 92%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 35% 30%;
  }

  #aboutMeTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding-top: 90px;
  }


  #aboutMePic {
    height: 300px;
    width: auto;
    grid-column: 2 / span 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    padding-left: 0;
    margin-top: 170px;
  }

  #aboutMeDesc {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 300px;
  }

  #projects {
    grid-column: 1 / span 4;
    grid-row: 4;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 10% 40% 10% 15% 15% 10% 40% 10% 15% 10%;
    padding-top: 0;
  }

  .projectsSubTitle {
    justify-self: center;
    align-self: center;
  }

  .projectPic {
    height: 90%;
    width: auto;
    align-self: center end;
    justify-self: center;
  }

  #projectsTitle {
    grid-column: 2 / span 2;
    grid-row: 1;
  }

  #projectsDesc {
    justify-self: center;
    align-self: center end;
  }

  #dropTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  #dropPic {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  #dropDesc {
    grid-column: 1 / span 4;
    grid-row: 4;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
  }

  #dropDemo {
    grid-column: 1 / span 2;
    grid-row: 5;
    margin-top: 15%;
    margin-right: 4%;
    align-self: center;
    justify-self: end;
  }

  #dropCode {
    grid-column: 3 / span 2;
    grid-row: 5;
    margin-top: 15%;
    margin-left: 4%;
    align-self: center;
    justify-self: start;
  }


  #dropSkills {
    grid-column: 1 / span 4;
    grid-row: 6;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
  }

  #iAssistTitle {
    grid-column: 1 / span 4;
    grid-row: 7;
  }

  #iAssistPic {
    grid-column: 1 / span 4;
    grid-row: 8;
  }

  #iAssistDesc {
    grid-column: 1 / span 4;
    grid-row: 9;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
  }

  #iAssistDemo {
    grid-column: 1 / span 2;
    grid-row: 10;
    margin-top: 15%;
    margin-right: 4%;
    align-self: center;
    justify-self: end;
  }

  #iAssistCode {
    grid-column: 3 / span 2;
    grid-row: 10;
    margin-top: 15%;
    margin-left: 4%;
    align-self: center;
    justify-self: start;
  }


  #iAssistSkills {
    grid-column: 1 / span 4;
    grid-row: 11;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
  }

  #skills {
    grid-column: 1 / span 4;
    grid-row: 5;
    display: grid;
    width: 100%;
    height: 75vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% 15% 15% 30% 15% 15% 15% 30%;
    margin-top: 5%;
    padding-top: 70px;
    margin-bottom: 4%;
  }

  #skillsTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    margin-bottom: 5%;
  }

  #languagesPic {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #languagesTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 90px;
  }

  #languagesList {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: start;
    justify-self: center;
    margin-right: 200px;
  }

  #webDevPic {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #webDevTitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 100px;
  }

  #webDevList {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: start;
    justify-self: center;
    margin-right: 140px;
  }

  #databasePic {
    grid-column: 1 / span 4;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    margin-right: 265px;
    text-align: center;
  }

  #databaseTitle {
    grid-column: 1 / span 4;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 120px;
  }

  #databaseList {
    grid-column: 1 / span 4;
    grid-row: 7;
    align-self: start;
    justify-self: center;
    margin-right: 220px;
  }

  #versionControlPic {
    grid-column: 1 / span 4;
    grid-row: 8;
    align-self: center;
    justify-self: center;
    margin-right: 220px;
    text-align: center;
  }

  #versionControlTitle {
    grid-column: 1 / span 5;
    grid-row: 8;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 70px;
  }

  #versionControlList {
    grid-column: 1 / span 4;
    grid-row: 9;
    align-self: start;
    justify-self: center;
    margin-right: 100px;
  }

  #contactMe {
    grid-column: 1 / span 4;
    grid-row: 6;
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 25% 10% 15% 30%;
  }

  #contactMeTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  #getInTouchTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }

  #linksTitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: start;
    justify-self: center;
  }

  #emailPic {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-right: 210px;
  }

  #emailP {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-left: 10px;
  }

  #linkedinPic {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: center;
    justify-self: center;
    margin-right: 115px;
  }

  #linkedinP {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: center;
    justify-self: center;
  }

  #githubPic {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    justify-self: center;
    margin-right: 115px;
  }

  #githubP {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    justify-self: center;
    margin-right: 15px;
  }


}

@media only screen and (max-width: 640px) and (min-width: 481px) {

  #hamburgerNav {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 17px;
    margin-left: 90%;
  }

  #hamburgerNav {
    display: block;
  }

  #hamContainer {
    margin-top: 17px;
    margin-left: 90%;
    display: block;
    cursor: pointer;
  }

  #normNav {
    display: none;
  }

  p {
    font-size: 15px;
  }

  #container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 100% 75% 140% 80% 40% 7%;
  }

  #maintext {
    font-size: 25px;
  }

  #name {
    font-size: 65px;
  }

  #aboutMe {
    grid-column: 1 / span 4;
    grid-row: 3;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 40% 30%;
  }

  #aboutMeTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding-top: 90px;
  }


  #aboutMePic {
    height: 300px;
    width: auto;
    grid-column: 2 / span 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    padding-left: 0;
    margin-top: 150px;
  }

  #aboutMeDesc {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 300px;
  }

  #projects {
    grid-column: 1 / span 4;
    grid-row: 4;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 12% 7% 30% 10% 10% 7% 10% 30% 10% 7% 5%;
    padding-top: 0;
  }

  .projectsSubTitle {
    justify-self: center;
    align-self: center;
  }

  .projectPic {
    height: 70%;
    width: auto;
    align-self: center;
    justify-self: center;
  }

  #projectsTitle {
    grid-column: 2 / span 2;
    grid-row: 1;
    margin-top: 50px;
  }

  #projectsDesc {
    justify-self: center;
    align-self: center end;
  }

  #dropTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  #dropPic {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  #dropDesc {
    grid-column: 1 / span 4;
    grid-row: 4;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
  }

  #dropDemo {
    grid-column: 1 / span 2;
    grid-row: 5;
    margin-top: 0%;
    margin-right: 4%;
    align-self: center;
    justify-self: end;
  }

  #dropCode {
    grid-column: 3 / span 2;
    grid-row: 5;
    margin-top: 0%;
    margin-left: 4%;
    align-self: center;
    justify-self: start;
  }


  #dropSkills {
    grid-column: 1 / span 4;
    grid-row: 6;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
  }

  #iAssistTitle {
    grid-column: 1 / span 4;
    grid-row: 7;
  }

  #iAssistPic {
    grid-column: 1 / span 4;
    grid-row: 8;
  }

  #iAssistDesc {
    grid-column: 1 / span 4;
    grid-row: 9;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
  }

  #iAssistDemo {
    grid-column: 1 / span 2;
    grid-row: 10;
    margin-top: 0%;
    margin-right: 4%;
    align-self: center;
    justify-self: end;
  }

  #iAssistCode {
    grid-column: 3 / span 2;
    grid-row: 10;
    margin-top: 0%;
    margin-left: 4%;
    align-self: center;
    justify-self: start;
  }


  #iAssistSkills {
    grid-column: 1 / span 4;
    grid-row: 11;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
  }

  #skills {
    grid-column: 1 / span 4;
    grid-row: 5;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 12% 7% 7% 7% 14% 7% 7% 7% 14%;
    margin-top: 0;
    padding-top: 0;
  }

  #skillsTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  #languagesPic {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #languagesTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 90px;
  }

  #languagesList {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: start;
    justify-self: center;
    margin-right: 200px;
  }

  #webDevPic {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #webDevTitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 100px;
  }

  #webDevList {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: start;
    justify-self: center;
    margin-right: 140px;
  }

  #databasePic {
    grid-column: 1 / span 4;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    margin-right: 265px;
    text-align: center;
  }

  #databaseTitle {
    grid-column: 1 / span 4;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 120px;
  }

  #databaseList {
    grid-column: 1 / span 4;
    grid-row: 7;
    align-self: start;
    justify-self: center;
    margin-right: 220px;
  }

  #versionControlPic {
    grid-column: 1 / span 4;
    grid-row: 8;
    align-self: center;
    justify-self: center;
    margin-right: 220px;
    text-align: center;
  }

  #versionControlTitle {
    grid-column: 1 / span 5;
    grid-row: 8;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 70px;
  }

  #versionControlList {
    grid-column: 1 / span 4;
    grid-row: 9;
    align-self: start;
    justify-self: center;
    margin-right: 100px;
  }

  #contactMe {
    grid-column: 1 / span 4;
    grid-row: 6;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% 15% 15% 27%;
  }

  #contactMeTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  #getInTouchTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }

  #linksTitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: start;
    justify-self: center;
  }

  #emailPic {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-right: 210px;
  }

  #emailP {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-left: 10px;
  }

  #linkedinPic {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: center;
    justify-self: center;
    margin-right: 115px;
  }

  #linkedinP {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: center;
    justify-self: center;
  }

  #githubPic {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    justify-self: center;
    margin-right: 115px;
  }

  #githubP {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    justify-self: center;
    margin-right: 15px;
  }


}

@media only screen and (max-width: 640px) and (min-width: 481px), screen and (max-device-width: 1000px) {

  #hamburgerNav {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 17px;
    margin-left: 90%;
  }

  #hamburgerNav {
    display: block;
  }

  #hamContainer {
    margin-top: 17px;
    margin-left: 90%;
    display: block;
    cursor: pointer;
  }

  #normNav {
    display: none;
  }

  p {
    font-size: 15px;
  }

  #container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 100% 120% 200% 120% 70% 10%;
  }

  #maintext {
    font-size: 25px;
  }

  #name {
    font-size: 65px;
  }

  #aboutMe {
    grid-column: 1 / span 4;
    grid-row: 3;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 40% 30%;
  }

  #aboutMeTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding-top: 90px;
  }


  #aboutMePic {
    height: 300px;
    width: auto;
    grid-column: 2 / span 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    padding-left: 0;
    margin-top: 150px;
  }

  #aboutMeDesc {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 300px;
  }

  #projects {
    grid-column: 1 / span 4;
    grid-row: 4;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 10% 40% 15% 15% 10% 10% 40% 15% 15% 10%;
    padding-top: 0;
  }

  .projectsSubTitle {
    justify-self: center;
    align-self: center;
  }

  .projectPic {
    height: 70%;
    width: auto;
    align-self: center;
    justify-self: center;
  }

  #projectsTitle {
    grid-column: 2 / span 2;
    grid-row: 1;
    margin-top: 50px;
  }

  #projectsDesc {
    justify-self: center;
    align-self: center end;
  }

  #dropTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  #dropPic {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  #dropDesc {
    grid-column: 1 / span 4;
    grid-row: 4;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
  }

  #dropDemo {
    grid-column: 1 / span 2;
    grid-row: 5;
    margin-top: 0%;
    margin-right: 4%;
    align-self: center;
    justify-self: end;
  }

  #dropCode {
    grid-column: 3 / span 2;
    grid-row: 5;
    margin-top: 0%;
    margin-left: 4%;
    align-self: center;
    justify-self: start;
  }


  #dropSkills {
    grid-column: 1 / span 4;
    grid-row: 6;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
  }

  #iAssistTitle {
    grid-column: 1 / span 4;
    grid-row: 7;
  }

  #iAssistPic {
    grid-column: 1 / span 4;
    grid-row: 8;
  }

  #iAssistDesc {
    grid-column: 1 / span 4;
    grid-row: 9;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
  }

  #iAssistDemo {
    grid-column: 1 / span 2;
    grid-row: 10;
    margin-top: 0%;
    margin-right: 4%;
    align-self: center;
    justify-self: end;
  }

  #iAssistCode {
    grid-column: 3 / span 2;
    grid-row: 10;
    margin-top: 0%;
    margin-left: 4%;
    align-self: center;
    justify-self: start;
  }


  #iAssistSkills {
    grid-column: 1 / span 4;
    grid-row: 11;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
  }

  #skills {
    grid-column: 1 / span 4;
    grid-row: 5;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 10% 10% 10% 20% 10% 10% 10% 20%;
    margin-top: 0;
    padding-top: 0;
  }

  #skillsTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  #languagesPic {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #languagesTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 90px;
  }

  #languagesList {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: start;
    justify-self: center;
    margin-right: 200px;
  }

  #webDevPic {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #webDevTitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 100px;
  }

  #webDevList {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: start;
    justify-self: center;
    margin-right: 140px;
  }

  #databasePic {
    grid-column: 1 / span 4;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    margin-right: 265px;
    text-align: center;
  }

  #databaseTitle {
    grid-column: 1 / span 4;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 120px;
  }

  #databaseList {
    grid-column: 1 / span 4;
    grid-row: 7;
    align-self: start;
    justify-self: center;
    margin-right: 220px;
  }

  #versionControlPic {
    grid-column: 1 / span 4;
    grid-row: 8;
    align-self: center;
    justify-self: center;
    margin-right: 220px;
    text-align: center;
  }

  #versionControlTitle {
    grid-column: 1 / span 5;
    grid-row: 8;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 70px;
  }

  #versionControlList {
    grid-column: 1 / span 4;
    grid-row: 9;
    align-self: start;
    justify-self: center;
    margin-right: 100px;
  }

  #contactMe {
    grid-column: 1 / span 4;
    grid-row: 6;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% 15% 15% 25%;
  }

  #contactMeTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  #getInTouchTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }

  #linksTitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: start;
    justify-self: center;
  }

  #emailPic {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-right: 210px;
  }

  #emailP {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-left: 10px;
  }

  #linkedinPic {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: center;
    justify-self: center;
    margin-right: 115px;
  }

  #linkedinP {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: center;
    justify-self: center;
  }

  #githubPic {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    justify-self: center;
    margin-right: 115px;
  }

  #githubP {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    justify-self: center;
    margin-right: 15px;
  }


}

@media only screen and (max-width: 481px) {

  #hamburgerNav {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 17px;
    margin-left: 90%;
  }

  #hamburgerNav {
    display: block;
  }

  #hamContainer {
    margin-top: 17px;
    margin-left: 90%;
    display: block;
    cursor: pointer;
  }

  #normNav {
    display: none;
  }

  p {
    font-size: 15px;
  }

  #container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 100% 100% 170% 110% 50% 7%;
  }

  #maintext {
    font-size: 25px;
  }

  #name {
    font-size: 65px;
  }

  #aboutMe {
    grid-column: 1 / span 4;
    grid-row: 3;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 40% 30%;
  }

  #aboutMeTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding-top: 90px;
  }


  #aboutMePic {
    height: 300px;
    width: auto;
    grid-column: 2 / span 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    padding-left: 0;
    margin-top: 150px;
  }

  #aboutMeDesc {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 300px;
  }

  #projects {
    grid-column: 1 / span 4;
    grid-row: 4;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 12% 7% 35% 12% 15% 7% 10% 35% 12% 15% 5%;
    padding-top: 0;
  }

  .projectsSubTitle {
    justify-self: center;
    align-self: center;
  }

  .projectPic {
    height: 70%;
    width: auto;
    align-self: center;
    justify-self: center;
  }

  #projectsTitle {
    grid-column: 2 / span 2;
    grid-row: 1;
    margin-top: 50px;
  }

  #projectsDesc {
    justify-self: center;
    align-self: center end;
  }

  #dropTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  #dropPic {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  #dropDesc {
    grid-column: 1 / span 4;
    grid-row: 4;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
  }

  #dropDemo {
    grid-column: 1 / span 2;
    grid-row: 5;
    margin-top: 0%;
    margin-right: 4%;
    align-self: center;
    justify-self: end;
  }

  #dropCode {
    grid-column: 3 / span 2;
    grid-row: 5;
    margin-top: 0%;
    margin-left: 4%;
    align-self: center;
    justify-self: start;
  }


  #dropSkills {
    grid-column: 1 / span 4;
    grid-row: 6;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
  }

  #iAssistTitle {
    grid-column: 1 / span 4;
    grid-row: 7;
  }

  #iAssistPic {
    grid-column: 1 / span 4;
    grid-row: 8;
  }

  #iAssistDesc {
    grid-column: 1 / span 4;
    grid-row: 9;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
  }

  #iAssistDemo {
    grid-column: 1 / span 2;
    grid-row: 10;
    margin-top: 0%;
    margin-right: 4%;
    align-self: center;
    justify-self: end;
  }

  #iAssistCode {
    grid-column: 3 / span 2;
    grid-row: 10;
    margin-top: 0%;
    margin-left: 4%;
    align-self: center;
    justify-self: start;
  }


  #iAssistSkills {
    grid-column: 1 / span 4;
    grid-row: 11;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
  }

  #skills {
    grid-column: 1 / span 4;
    grid-row: 5;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 10% 10% 10% 17% 10% 10% 10% 17%;
    margin-top: 0;
    padding-top: 0;
  }

  #skillsTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  #languagesPic {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #languagesTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 90px;
  }

  #languagesList {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: start;
    justify-self: center;
    margin-right: 200px;
  }

  #webDevPic {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    margin-right: 240px;
    text-align: center;
  }

  #webDevTitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 100px;
  }

  #webDevList {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: start;
    justify-self: center;
    margin-right: 140px;
  }

  #databasePic {
    grid-column: 1 / span 4;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    margin-right: 265px;
    text-align: center;
  }

  #databaseTitle {
    grid-column: 1 / span 4;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 120px;
  }

  #databaseList {
    grid-column: 1 / span 4;
    grid-row: 7;
    align-self: start;
    justify-self: center;
    margin-right: 220px;
  }

  #versionControlPic {
    grid-column: 1 / span 4;
    grid-row: 8;
    align-self: center;
    justify-self: center;
    margin-right: 220px;
    text-align: center;
  }

  #versionControlTitle {
    grid-column: 1 / span 5;
    grid-row: 8;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 70px;
  }

  #versionControlList {
    grid-column: 1 / span 4;
    grid-row: 9;
    align-self: start;
    justify-self: center;
    margin-right: 100px;
  }

  #contactMe {
    grid-column: 1 / span 4;
    grid-row: 6;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% 15% 12% 22%;
  }

  #contactMeTitle {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  #getInTouchTitle {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }

  #linksTitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: start;
    justify-self: center;
  }

  #emailPic {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-right: 210px;
  }

  #emailP {
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-left: 10px;
  }

  #linkedinPic {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: center;
    justify-self: center;
    margin-right: 115px;
  }

  #linkedinP {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: center;
    justify-self: center;
  }

  #githubPic {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    justify-self: center;
    margin-right: 115px;
  }

  #githubP {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    justify-self: center;
    margin-right: 15px;
  }
}